@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Go To <a href="http://localhost:5047/swagger/index.html">Swagger API</a>.</p>
</div>>
