@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p id="privacy">This website is build in C# it uses ASP.NET Razor Pages and .NET Framework 8.0, 
    Usage of this website is allowed and permitted. 
    usage of the Source Code is also allowed. </p>
