@page
@model WebAPI.Pages.Student.StudentModel
@{
    ViewData["Title"] = "Student Page";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Student Page</h1>
<div>
    <form method="post">
        Name:
            <input asp-for="student!.FirstName" />
            <input asp-for="student!.LastName"/>
        Age:
            <input asp-for="student!.Age"/>
        <input type="submit">
    </form>
</div>