@page
@model WebAPI.Pages.Student.StudentModel
@{
    ViewData["Title"] = "Student Page";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<head>
    <link rel="stylesheet" href="~/css/Students.css" />
</head>

<div class="form-container">
    <form method="post">
        <div class="form-group">
            <label asp-for="student!.FirstName">First Name:</label>
            <input asp-for="student!.FirstName" class="form-input" />
        </div>
        <div class="form-group">
            <label asp-for="student!.LastName">Last Name:</label>
            <input asp-for="student!.LastName" class="form-input" />
        </div>
        <div class="form-group">
            <label asp-for="student!.Age">Age:</label>
            <input asp-for="student!.Age" class="form-input" />
        </div>
        <div class="form-group">
            <input type="submit" class="submit-button" />
        </div>
    </form>
</div>